@mixin bg-simple-image($img: "logo-mobile-blue@1x.png") {
  background-image: url("../img/#{$img}");
}

@mixin bg-simple-2-image($img1: "", $img2: "") {
  background-image: url("../img/#{$img1}"), url("../img/#{$img2}");
}

@mixin bg-image($width: 20px, $height: 20px, $img: "logo-mobile-blue@1x.png") {
  width: $width;
  height: $height;
  background-image: url("../img/#{$img}");
}

@mixin bg-retina($retina-img: "") {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/#{$retina-img}");
  }
}

@mixin bg-retina-2-image($retina-img1: "", $retina-img2: "") {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/#{$retina-img1}"),
      url("../img/#{$retina-img2}");
  }
}

@mixin bg-sprite-image(
  $width: 20px,
  $height: 20px,
  $sprite: "",
  $left: -1px,
  $top: -1px
) {
  @include bg-image($width, $height, $sprite);
  background-position: $left $top;
}

//for vertical sprite
@mixin bg-sprite-simple-image($sprite: "", $top: -10px) {
  @include bg-simple-image($sprite);
  background-position-y: $top;
}

@mixin square($side: 20px) {
  width: $side;
  height: $side;
}

@mixin level-percent($percent: 1, $radius: 50) {
  $circumference: 2 * $radius * $pi;

  &--#{$percent} {
    stroke-dasharray: ($percent / 100) * $circumference, $circumference;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin visually-hidden-inactive {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  //border: 0;
  //padding: 0;
  white-space: normal;
  clip-path: none;
  clip: auto;
  overflow: visible;
}
